* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.dark-mode {
  background-color: black;
  color: white;
}

.navbar{
  background: transparent;
  font-family: 'Old Standard TT', serif;
  font-family: 'Truculenta', sans-serif;
  font-size:25px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar.active{
  background: url(images/bg-banner.jpg)  no-repeat center center fixed
}




/* ==================BANNER==================*/

#Banner {
  font-family: 'Truculenta', sans-serif;
}

#Banner h1{
  font-size: 4rem;
}

#Banner p {
  font-size: 17px;
}

#Jumbotron {
   background: url(images/bg-banner.jpg)  no-repeat center center fixed;
   height:980px;
   margin-bottom: 0;
}
#BannerContent {
  padding-top: 10%;
  margin-left: 2%;
}

.social-container {
  padding-top: 15%;
  display: flex;
  justify-content: center;
}

a.social {
  margin: 0 1rem;
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #49a1ad;
}

a.twitter{
  color: #49a1eb;
}

a.instagram {
  color: #fb3958;
}
.clickHere.nav-link {
  display: inline;
  padding: 0;
}
/* =================PAGESS===========================*/
#AboutMe {
  padding-top: 15vh;
  padding-bottom: 15vh;
  font-family: 'Montserrat', sans-serif;
}

#AboutMe-Div {
  padding-top: 5vh;
}

#image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
}

#MyWork {
  padding-top: 15vh;
  padding-bottom: 15vh;
  font-family: 'Brygada 1918', serif;
}

.card {
  padding: 1rem!important;
}

#cardDeck .card:hover {
  width: 103%;

}



#MySkills {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#MySkillsInfo{
  font-family: 'Brygada 1918', serif;
}
.card-deck {
  padding-top: 5vh;
  text-align: center;
}
#MySkillsContent {
  justify-content: center;
  display: flex;
  padding-top: 5vh;
}

#MySkillsCarousel{
  width: 90%;
}
.skillsBG {
  background: black;
  background: rgb(114, 114, 114); 
  background: rgba(114, 114, 114, 0.5);
  border-radius: 15px;
}

.skillsBG h3 {
  padding: 10px;
}

#Contacts {
  padding-top: 15vh;
  padding-bottom: 15vh;
  background: #eee;
}
#contact-form{
  max-width: 600px;
}
#contact-container {
  display: flex;
  justify-content: center;
}

#contact-div {
  padding: 20px;
  border: 2px solid black ;
  box-shadow: 5px 10px #888888;
  font-family: 'Brygada 1918', serif;
}

/* =================PAGESS===========================*/

#info {
  padding-top: 5vh;
}

#info p {
  text-indent: 50px;
}


#iframe {
  width: 550px;
  height: 310px;
  margin: 0 auto;
  display: block;
}

/*sidebar*/

/* Style the links inside the sidenav */

/*#mySidenav {
  position: fixed;
  z-index: 999;
}*/

/*#mySidenav a, link {*/
  /*position: fixed;  Position them relative to the browser window */
  /*left: -90px;  Position them outside of the screen */
  /*transition: 0.3s;  Add transition on hover */
  /*padding: 15px;  15px padding */
  /*width: 100px;  Set a specific width */
  /*text-decoration: none;  Remove underline */
  /*font-size: 20px;  Increase font size */
  /*color: white;  White text color */
  /*border-radius: 0 5px 5px 0;  Rounded corners on the top right and bottom right side */
/*}
*/
/*#mySidenav a:hover {
  left: 0;  On mouse-over, make the elements appear as they should 
}*/

/* The about link: 20px from the top with a green background */


/*#about {
  top: 110px;
  background-color: #4CAF50 /* Light Black 
}*/

/*#myskills {
  top: 200px;
  background-color: #555; 
}

#mywork {
  top: 290px;
  background: #2196F3;
}

#contact {
  top: 380px;
  background: cyan;
}*/

#buttonSubmit {
  border-radius: 20px;
}

.form-group input {
  border-radius: 20px;
}
.form-group label {
  padding-left: 15px;
}
.form-group textarea {
  border-radius: 20px;
}

#buttonDiv {
  text-align: center;
}
.nav-link {
  cursor: pointer;
}
/*sidebar eeennddd*/

/*=================FOOTER================*/
#Footer {
  padding: 20px
}
#footer-social a {
  padding:5px;
}
/*=================FOOTER================*/



@media only screen and (max-width: 615px) {
    #iframe {
      width: 510px;
    }
}

@media only screen and (max-width: 600px) {
    #iframe {
      width:  330px;
    }
}

@media only screen and (max-width: 320px) {
    #iframe {
      width: 290px;
    }
}